/* css of index.jsp  */
body{margin: 0px; font-size: 12px;font-family: Monospaced;}
body,label,input,th,td,tt{font-size: 12px; font-family:'Verdana';}
pre{line-height:17px;}
table{width: inherit; height: inherit;}
table tr{ width: inherit; height:30px;line-height: 30px; text-align: center;}
input{border: 1px solid lightblue;}
.td_lbl{width:100px; text-align: right; padding-right: 10px;font-family: Verdana;}
.td_ele{width:150px; text-align: left; padding-left: 10px;}
.btn_area{width:inherit; text-align: center;}
.mainDiv{
    width:1024px; height: 670px; position: absolute; left: 50%; margin-left: -512px;
}
/* 登陆面板绝对居中,不受浏览器窗口大小的限制 */
.loginPanel{
    width:300px;height: 180px; position:fixed; margin-top: -90px; margin-left: -150px; top:50%; left:50%;
}
.loginTitle{width:inherit; height:30px; line-height: 30px; font-family:'Verdana';font-weight: bold;text-align: left;
     color:#016ab9;border-bottom: 1px solid #016ba9;}
/* 用户注册页面样式列表*/
/* 版权样式*/
.copyright{
    width:inherit; height: 30px; margin-top: 3px; border-top: 1px solid dodgerblue;
}

/* 该样式设置字体大小为12的情况下相关字体属性*/

.font12_copy{
    font:12px Verdana ;color:#808080; line-height: 30px; text-align: center;
}
.font12_intro{
    font-size:12px; font-family: '黑体';color:#016ba9;line-height: inherit;
}
.easy_table_div{line-height: 25px;margin-top: 3px; border-bottom: 1px dashed #808080;}

/* register.jsp css area */
.reg_mainPanel{
    width:600px;height: auto; position:absolute;   margin-left: -300px;   left:50%;
}
.lineHeight15{line-height: 5px;  }
/* show more register information.*/
.moreInfo{width: inherit; height: auto;line-height: 25px; text-align: right; padding-right: 10px;  }
/* hidden current element*/
.hideCurrent{ display: none;}
/* set auto height */
.autoHeight{ height: auto;}