<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gov.nc.dao.IUserDao">
    <resultMap id="UserMap" type="Account">
        <id property="id" column="_id" />
        <result property="account" column="_account"/>
        <result property="nickName" column="_nickname"/>
        <result property="password" column="_password"/>
        <result property="cardType" column="_cardType"/>
        <result property="cardNum" column="_cardNum"/>
        <result property="emailAddress" column="_emailAddress"/>
        <result property="bindPhone" column="_bindPhone"/>
        <result property="phoneNum" column="_phoneNum"/>
        <result property="level"    column="_level"/>
        <result property="score" column="_score"/>
        <result property="address" column="_address"/>
        <result property="birthday" column="_birthday"/>
    </resultMap>
    <insert id="save"  parameterType="Account">
        INSERT INTO Account(_account,_nickName,_password,_cardType,_cardNum,_emailAddress,_bindPhone,_phoneNum,_level,_scores,_address,_birthday)
        VALUES (
        #{account},
        #{nickName},
        #{password},
        #{cardType},
        #{cardNum,jdbcType=VARCHAR},
        #{emailAddress,jdbcType=VARCHAR},
        #{bindPhone,jdbcType=VARCHAR},
        #{phoneNum,jdbcType=VARCHAR},
        #{level},
        #{score},
        #{address, jdbcType=VARCHAR},
        #{birthday,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="Account">
        DELETE FROM Account where _id = #{id}
    </delete>

    <delete id="deleteByName" parameterType="string">
        DELETE FROM Account  WHERE  _account=#{name}
    </delete>
    <!-- update users score and level if login successful-->
    <update  id="userLogin" parameterType="Account">
        UPDATE account set _scores=#{score}+5  AND _level=#{level} WHERE _id=#{id}
    </update>
    <!---->
    <select id="findUserByNameAndPwd" parameterType="map" resultType="Account">
        SELECT * FROM account WHERE _account=#{account} AND _password=#{password}
    </select>
</mapper>