<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gov.nc.dao.IUserDao">
    <resultMap id="UserMap" type="Account">
        <id property="id" column="_id" />
        <result property="account" column="_account"/>
        <result property="nickName" column="_nickname"/>
        <result property="password" column="_password"/>
        <result property="cardNum" column="_cardNum"/>
        <result property="emailAddress" column="_emailAddress"/>
        <result property="phoneNum" column="_phoneNum"/>
        <result property="level"    column="_level"/>
        <result property="score" column="_score"/>
        <result property="address" column="_address"/>
        <result property="birthday" column="_birthday"/>
    </resultMap>

    <insert id="save"  parameterType="Account">
        INSERT INTO Account(_account,_nickName,_password,_cardType,
        _cardNum,_emailAddress,_bindPhone
        _phoneNum,_level,_scores,
        _address,_birthday)
        VALUES (
        #{account},#{password},#{nickName},
        <trim prefix="" suffixOverrides=",">
            <if test="cardNum != ''"> #{cardNum} ,</if>
            <if test="emailAddress != ''"> #{emailAddress} ,</if>
            <if test="phoneNum != ''"> #{phoneNum} ,</if>
            <if test="level != null"> #{level} ,</if>
            <if test="score != null"> #{score} ,</if>
            <if test="address != ''"> #{address} ,</if>
            <if test="birthday != ''"> #{birthday} ,</if>
        </trim>
        )
    </insert>

    <delete id="delete" parameterType="Account">
        DELETE FROM Account where _id = #{id}
    </delete>

    <delete id="deleteByName" parameterType="string">
        DELETE FROM Account  WHERE  account=#{name}
    </delete>
</mapper>